<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>
                    <i class="fa-solid fa-pen"></i> &nbsp;
                    Edit Contact Page
                
            </h1>
    
            <p style="text-align: justify;">
                This is dummy data : Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur adipisci
                tempore nihil eius? Placeat dolores ab incidunt commodi veritatis est officiis, quaerat vel cumque a
                illo repudiandae iste. Dolor ea beatae quidem saepe pariatur totam eaque qui, eligendi deserunt nesciunt
                dignissimos, unde sed asperiores natus odit, architecto expedita ullam eveniet.
            </p>
        </div>
    </div>
    <!-- add contact form -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form class="border p-3 rounded">
                   <div class="mb-2">
                        <input placeholder="name" type="text" class="form-control">
                   </div>
                   <div class="mb-2">
                        <input placeholder="photo URL" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input placeholder="Email ID" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                            <input placeholder="Mobile Number" type="text" class="form-control">
                            </div>
                            <div class="mb-2">
                                <input placeholder="Company" type="text" class="form-control">
                                </div>
                                <div class="mb-2">
                                    <input placeholder="Title" type="text" class="form-control">
                                    </div>
                                    <div class="mb-2">
                       <select name="" id="" class="form-control">
                        <option value="" selected hidden disabled>Select A Group</option>
                        <option value="">Family</option>
                        <option value="">Friends</option>
    
                       </select>
    
                     </div>
                  <div class="mb-2">
                    <input value="Update" type="button" class="btn btn-success">
                    <a routerLink="/" class="btn btn-warning ms-3">Close</a>
                     </div>
                </form>
            </div>
            <div class="col-md-4">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmPODrFKZohmZmcH1KcBTuWHdd7SdPFp1RIw&usqp=CAU" alt="no image" class="contact_image mt-2">
            </div>
        </div>
    </div>
    </div>
    