<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>
                    <i class="fa-solid fa-eye"></i> &nbsp;
                    View Contact Page
                
            </h1>
    
            <p style="text-align: justify;">
                This is dummy data : Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur adipisci
                tempore nihil eius? Placeat dolores ab incidunt commodi veritatis est officiis, quaerat vel cumque a
                illo repudiandae iste. Dolor ea beatae quidem saepe pariatur totam eaque qui, eligendi deserunt nesciunt
                dignissimos, unde sed asperiores natus odit, architecto expedita ullam eveniet.
            </p>
        </div>
    </div>
    <!-- view contact -->
    <div class="container mt-4">
<div class="row border p-5 align-items-center">
    <div class="col-md-4">
        <!-- contact image -->
        <img width="200px" [src]="contact.photo" alt="no image">
        <br>
        <a class="btn btn-warning ms-5 mt-2" routerLink="/"><i class="fa-solid fa-circle-left"></i> Go Back</a>

    </div>
    <div class="col-md-8">

        <!-- <pre>
            {{contact | json}}
        </pre> -->
        <!-- contact details -->
        <ul class="list-group">
            <li class="list-group-item">Name: {{contact.name}}</li>
            <li class="list-group-item">Email: {{contact.email}}</li>
            <li class="list-group-item">Mobile: {{contact.mobile}}</li>
            <li class="list-group-item">company: {{contact.company}}</li>
            <li class="list-group-item">Title: {{contact.title}}</li>
            <li class="list-group-item">Group: {{groupName}}</li>

          </ul>
    </div>

</div>

    </div>